@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400&&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900&display=swap");
@import url("https://use.typekit.net/wji0bht.css");

/* animation */
@-webkit-keyframes HoverAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes HoverAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* variables */
:root {
  --light-black: #333333;
  --pink: #f38181;
  --green: #95e1d3;
  --yellow: #fce38a;
  --grey: #999999;
  --placeholder: #cccccc;
  --input-border: #e7e7e7;
  --icon-green: #1ea896;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: white;
  display: inline-block;
}

.text {
  font-size: 0.9375rem;
  color: var(--grey);
  font-family: "Roboto", sans-serif;
}

.break {
  display: block;
}

.container {
  margin: 0 auto;
  width: 1210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wrap {
  width: 1920px;
  position: relative;
}

.section-heading {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.875rem;
  font-family: "Montserrat";
  font-weight: 700;
  margin-bottom: 101px;
  text-transform: uppercase;
}
.section-heading::after {
  position: absolute;
  margin-top: 37px;
  display: block;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 3px;
  content: "";
  background-color: var(--pink);
}

.section-heading__span {
  font-family: "Kaushan Script", sans-serif;
  font-size: 1.5rem;
  display: block;
  text-transform: none;
  margin-bottom: 17px;
}

.header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: auto;
  left: 0;
  right: 0;
  width: 1210px;
  height: 50px;
}
.header__logo {
  font-size: 1.875rem;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: white;
  padding-top: 22px;
}

.header__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 622px;
  height: 50px;
}

.header__item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 36px;
  width: 104px;
}

.header__icon {
  display: inline-block;
  width: 45px;
  text-align: right;
}

.header__item .link {
  position: relative;
}

.header__item:hover .link:before {
  position: absolute;
  margin-top: 24px;
  display: block;
  width: 100%;
  height: 3px;
  content: "";
  background-color: var(--yellow);
}

.header__item .link {
  color: white;
}

.header__item .link:hover {
  color: var(--yellow);
}

.header__item--last {
  margin-right: 0;
}

.wellcome {
  background: -webkit-linear-gradient(
      90deg,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)
    ),
    url("../img/bg/bg.jpg") no-repeat center center;
  background-size: cover;

  padding-top: 210px;
  padding-bottom: 232px;
  margin-bottom: 41px;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .wellcome {
    background: -webkit-linear-gradient(
        90deg,
        rgba(252, 227, 138, 0.9),
        rgba(243, 129, 129, 0.9)
      ),
      url("../img/bg/bg@2x.jpg") no-repeat center center;
    background-size: cover;
  }
}

.wellcome__span,
.wellcome__header {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.wellcome__header {
  font-size: 9.375rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 117px;
  line-height: 132px;
}

.wellcome__span {
  font-family: "Kaushan Script", regular;
  font-size: 4.5rem;
  text-transform: none;
  margin-bottom: 32px;
  line-height: 106px;
}
.wellcome__btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid white;
  width: 156px;
  height: 40px;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.our-services {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.our-services__title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--light-black);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-self: top;
  font-size: 0.875rem;
}
.our-services__list {
  list-style-type: none;
  text-align: center;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}

.our-services__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 403.3px;
  margin-bottom: 92px;
  position: relative;
  line-height: 22px;
  text-align: left;
  padding-left: 92px;
  padding-right: 19px;
}
.our-services__photography-icon::before {
  background-image: url("../img/articles/photography.svg");
}
.our-services__webdesign-icon::before {
  background-image: url("../img/articles/wedesign.svg");
}
.our-services__creativity-icon::before {
  background-image: url("../img/articles/creativity.svg");
}
.our-services__seo-icon::before {
  background-image: url("../img/articles/seo.svg");
}
.our-services__htmlcss-icon::before {
  background-image: url("../img/articles/htmlcss.svg");
}
.our-services__digital-icon::before {
  background-image: url("../img/articles/digital.svg");
}
.our-services__item::before {
  width: 32px;
  height: 32px;
  top: 6px;
  left: 30px;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
}
.our-services__text {
  padding-left: 60px;
}

.our-team {
  margin-bottom: 87px;
}

.our-team__description {
  padding: 0 108px;
  margin-bottom: 90px;
  margin-top: -21px;
  text-align: center;
  line-height: 21px;
}

.our-team__list {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.our-team__person {
  width: 380px;
}

.person__title {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-black);
  margin-bottom: 11px;
}

.person__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  font-size: 0.8125rem;
  color: var(--grey);
}
.person__image-overlay {
  background-image: -moz-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );

  visibility: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 380px;
  height: 470px;
  /* z-index: -1; */
  font-size: 0;
}

.person:hover .person__image {
  -webkit-animation: HoverAnimation 200ms linear;
  animation: HoverAnimation 200ms linear;
  -webkit-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  visibility: visible;
  z-index: 0;
}

.person:hover .person__image-overlay {
  -webkit-animation: HoverAnimation 200ms linear;
  animation: HoverAnimation 200ms linear;
  -webkit-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  visibility: visible;
  z-index: 10;
}

.person {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.person:hover .person {
  background-color: black;
}

.person__image {
  display: block;
  margin-bottom: 28px;
  position: relative;
}

.person__hover-bg {
  background-color: var(--green);
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 470px;
}

.social-icons-list {
  width: 224px;
  height: 56px;
  background-color: var(--yellow);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  cursor: pointer;
}

.social-icons-list__item {
  width: 56px;
  height: 56px;
  border: 1px solid transparent;
  border-right-color: var(--pink);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
}

.social-icons-list__item:last-child {
  border-right-color: transparent;
}

.social-icons-list__icon {
  display: block;
  fill: var(--pink);
  width: 26px;
  height: 21px;
}
.social-icons-list__item:hover .social-icons-list__icon {
  fill: white;
}
.social-icons-list__item:hover {
  background-color: var(--pink);
}

.footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  border-top: 1px solid #e5e5e5;
  font-size: 0.875rem;
  height: 60px;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-weight: 400;
}
.footer__form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 0;
}
.footer .link {
  color: var(--pink);
}
.subscribe-form__btn {
  background-color: var(--green);
  color: white;
  height: 40px;
  width: 150px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  border: 0px;
}
.subscribe-form__text-input {
  font-family: "Montserrat";
  font-size: 0.875rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 230px;
  padding-left: 13px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: italic;
  border: 1px solid var(--input-border);
}
.subscribe-form__text-input::-webkit-input-placeholder {
  color: var(--placeholder);
}
.subscribe-form__text-input::-moz-placeholder {
  color: var(--placeholder);
}
.subscribe-form__text-input:-ms-input-placeholder {
  color: var(--placeholder);
}
.subscribe-form__text-input::-ms-input-placeholder {
  color: var(--placeholder);
}
.subscribe-form__text-input::placeholder {
  color: var(--placeholder);
}

.subscribe-form__text-input:focus {
  outline-width: 0;
}
